%div.center
  %h2.haiku-font Log in
  = form_for(resource, html: {class: 'pure-form' }, as: resource_name, url: session_path(resource_name)) do |f|
    .field
      = f.label :email, class: 'haiku-font'
      %br/
      = f.email_field :email, autofocus: true, class: 'haiku-font'
    .field
      = f.label :password
      %br/
      = f.password_field :password, autocomplete: "off"
    - if devise_mapping.rememberable?
      .field
        = f.check_box :remember_me
        = f.label :remember_me, class: 'haiku-font'
    .actions
      = f.submit "Log in", class: 'pure-button button haiku-font purple-background white-hover'
  = render "devise/shared/links"
